.social {
    display: flex;
    column-gap: 26px;
    align-items: center;
    opacity: 0.6;
    left: 50%;
    transform: translateX(-50%);
}

// @media screen and (max-width: 1000px) {
//     .social {
//         transform: translateX(-50%);
//     }

// }

@media screen and (max-width: 500px) {
    .social {
        width: 95%;
        justify-content: space-between;
        display: none;
    }
}