.footer {
    &__container {
        &__content {
            display: flex;
            flex-direction: column;
        }
    }
}

@media screen and (max-width: 768px) {
    .footer {
        border-top: 0;
        padding: 0 0 45px;
        &__container {
            width: 90%;
        }
    }
    
}

@media screen and (max-width: 500px) {
    .footer {
        display: none;
    }
    
}