.wrapper {
    position: relative;

    .swiperNextEl,
    .swiperPrevEl {
        
        @media (max-width: 768px) {
            display: none;
        }
    }

    .swiperNextEl {
        right: 0;
    }

    .swiperPrevEl {
        left: 0;
    }

    .swiper {
        .swiperSlide {
            display: flex;
            justify-content: center;
        }
    }
}