.breadcrumbs {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.3);
    display: flex;
    .crumb {
        display: block;
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.3);
    }
}