:global(.customPagination) {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

:global(.customPagination .swiper-pagination-bullet) {
    width: 40px;
    height: 5px;
    margin: 0 20px;
    background: #3b3a40;
    border-radius: 0;
    opacity: 1;
    transition: background-color 0.3s ease;
}

:global(.customPagination .swiper-pagination-bullet-active) {
    background: #c4c4c4;
}

.wrapper {
    position: relative;

    .swiperNextEl,
    .swiperPrevEl {
        
        @media (max-width: 768px) {
            display: none;
        }
    }

    .swiperNextEl {
        right: 0;
    }

    .swiperPrevEl {
        left: 0;
    }

    .swiper {
        .swiperSlide {
            display: flex;
            justify-content: center;
        }
    }
}