.read {
    width: 818px;
    margin: 0 auto;
    padding: 45px 0 50px;
    &__items {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        &__item {
            display: flex;
            column-gap: 9px;

            &__main {
                &__header {
                    margin: 0 0 5px 13px;
                    h3 {
                        font-family: var(--font-family);
                        font-weight: 400;
                        font-size: 18px;
                        color: #fff;
                    }
                }

                p {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.6);
                    border-radius: 15px;
                    width: 759px;
                    height: 83px;
                    background: #2a292e;
                    padding: 16px 26px 5px 13px;
                }

                span {
                    display: block;
                    font-family: var(--font-family);
                    font-style: italic;
                    font-weight: 400;
                    font-size: 14px;
                    color: rgba(255, 255, 255, 0.13);
                    margin: 10px 0 0 6px;
                }
            }
        }
    }
}