.wrapper {
    position: relative;
    height: 300px;

    .swiper {
        position: relative;

        .slide {
            position: relative;

            .image {
                width: 100%;
                height: 400px;
                position: relative;
            }

            .text {
                position: absolute;
                z-index: 2;
                left: 50%;
                top: 50%;
                transform: translateY(-50%);
                width: 500px;

                h2 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 36px;
                    line-height: 97%;
                    color: #f2f2f2;
                }

                p {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 167%;
                    color: #8f8f8f;
                    margin: 20px 0 25px;
                }

                h3 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    line-height: 194%;
                    color: #8f8f8f;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .wrapper {
        height: 350px;

        .swiper {
            .slide {
                .text {
                    p {
                        width: 200px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 630px) {
    .wrapper {
        .swiper {
            .slide {
                .image {
                    height: 300px;
                }
            }
        }
    }
}


@media screen and (max-width: 500px) {
    .wrapper {
        height: 200px;

        .swiper {
            position: relative;
            height: 300px;
            .slide {
                height: 150px;
                .image {
                    width: 100%;
                    height: 191;
                }

                .text {
                    width: auto;
                    top: 65%;
                    h2 {
                        font-weight: 400;
                        font-size: 24px;
                        line-height: 146%;
                        color: #f2f2f2;
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 171%;
                        color: #8f8f8f;
                        margin: 5px 0 0;
                    }

                    h3 {
                        font-weight: 400;
                        font-size: 12px;
                        line-height: 250%;
                        color: #8f8f8f;
                    }
                }

                button {
                    position: absolute;
                    bottom: -10px;
                    left: 10px;
                }
            }
        }
    }
}