.bottom {
    display: flex;
    justify-content: space-between;
    &__left {
        padding: 31px 0 0;
        &__center {
            &__number {
                margin: 27px 0 20px;

                h4 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    color: #c4c4c4;
                }

                h3 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 24px;
                    color: #fff;
                }
            }

            &__mail {
                margin: 0 0 18px;
                h4 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    color: #c4c4c4;
                }

                h3 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    color: #fff;
                }
            }

            &__payments {
                padding: 32px 0 167px;
                h4 {
                    font-family: var(--font-family);
                    font-weight: 400;
                    font-size: 18px;
                    color: #c4c4c4;
                    text-transform: uppercase;
                }
            }
        }

        &__bottom {
            h5 {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: #c4c4c4;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .bottom {
        &__left {
            &__center {
                &__number {
                    font-size: 14px;
                    h4 {
                        font-size: 15px;
                    }
                }

                &__mail {
                    font-size: 18px;
                    h4 {
                        font-size: 15px;
                    }
                }

                &__payments {
                    display: none;
                }
            }
            &__bottom {
                display: none;
            }
        }
    }
    
}