.search {
    display: flex;
    align-items: center;
    justify-content: center;
    h4 {
        font-family: var(--second-family);
        font-weight: 400;
        font-size: 14px;
        // text-align: center;
        color: #fff;
        margin-left: 5px;
    }
}

@media screen and (max-width: 768px) {
    .search {
        order: 2;
        flex: 0;
        margin-right: 5px;
        h4 {
            display: none;
        }
    }
    
}