.invite {
    width: 620px;
    height: 258px;
    border-radius: 30px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fcf7f2;
    position: absolute;
    top: 50%;
    right: -23%;
    transform: translateY(-50%);
    z-index: 2;
    padding: 36px 49px 0;

    h3 {
        font-family: var(--font4);
        font-weight: 400;
        font-size: 18px;
        text-align: center;
        color: #3b3a40;
    }

    h2 {
        font-family: var(--font4);
        font-weight: 400;
        font-size: 48px;
        text-align: center;
        color: #cc7408;
    }

    h4 {
        font-family: var(--font4);
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: #bfb9b1;
    }

    form {
        margin-top: 36px;

        label {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 11px;

            input {
                font-family: var(--font-family);
                font-weight: 400;
                font-size: 18px;
                color: rgba(59, 58, 64, 0.8);
                border-radius: 5px;
                width: 95%;
                height: 43px;
                box-shadow: inset 0 4px 4px 0 rgba(0, 0, 0, 0.25);
                background: #f2eae0;
                border: none;
                padding-left: 22px;
                outline: none;
            }

            button {
                border-radius: 5px;
                width: 77px;
                height: 43px;
                background: #CC7408;
                border: none;
                cursor: pointer;
            }
        }

        p {
            font-family: var(--font-family);
            font-style: italic;
            font-weight: 400;
            font-size: 14px;
            line-height: 143%;
            color: rgba(196, 196, 196, 0.8);
            margin-top: 10px;
            text-decoration: underline;
        }
    }
}


@media (max-width: 768px) {
    .invite {
        padding: 36px 15px 0;
        width: 276px;
        height: 239px;
        right: -15%;
        h3 {
            font-size: 14px;
        }

        h2 {
            font-size: 36px;
        }

        h4 {
            font-size: 12px;
        }

        form {
            margin-top: 0;

            label {
                column-gap: 0;
                position: relative;
                width: 241px;
                height: 33px;
                margin-top: 19px;

                input {
                    width: 241px;
                    height: 33px;
                }

                button {
                    width: 45px;
                    height: 33px;
                    position: absolute;
                    right: 0;
                }
            }

            p {
                font-size: 10px;
                line-height: 150%;
                margin-top: 13px;
                text-align: center;
                text-decoration: none;
            }
        }
    }
}