.headerStroke {
    padding: 8px 0 8px;
    border-bottom: 1px solid hsl(0, 0%, 30%);
    &__container {
        max-width: 95%;
        margin: 0 auto;
        position: relative;
        &__content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            // width: 100%; 
        }
    }
}