@import url('../../public/assets/fonts/fonts.scss');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: white;
}

button,
a,
input,
textarea,
img {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

body {
    background: #131218;
    overflow-x: hidden;
}

body:focus-visible {
    outline: none;
}

body.menu-open {
    overflow: hidden;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.hide {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: -1;
}


@media (max-width: 1050px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 500px) {
    .container {
        max-width: 90%;
    }
}

//Custom Pagination

.customPagination {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}

.customPagination .swiper-pagination-bullet {
    width: 40px;
    height: 5px;
    margin: 0 20px;
    background: #3b3a40;
    border-radius: 0;
    opacity: 1;
    transition: background-color 0.3s ease;
}

.customPagination .swiper-pagination-bullet-active {
    background: #c4c4c4;
}