.banner {
    padding: 0 0 685px;
    position: relative;
    @media (max-width: 1050px) {
        padding: 0 0 50%;
    }
    @media (max-width: 900px) {
        padding: 0 0 45%;
    }
    @media (max-width: 768px) {
        padding: 0 0 500px;
    }
    @media (max-width: 630px) {
        padding: 0 0 350px;
    }
    @media (max-width: 500px) {
        padding: 0 0 263px;
    }
}