.burger {
    border-radius: 2px;
    width: 16px;
    height: 1.7px;
    background: white;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        display: block;
        border-radius: 2px;
        width: 16px;
        height: 2px;
        background: white;
        bottom: -6px;
    }

    &::after{
        content: "";
        position: absolute;
        display: block;
        border-radius: 2px;
        width: 16px;
        height: 2px;
        background: white;
        top: -6px;
    }
}