.header {
    padding: 72px 0 10px;
    &__container {
        width: 1057px;
        margin: 0 auto;
        &__content {
            &__main {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 0 65px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .header {
        padding: 18px 0 3px;
        &__container {
            width: 90%;
            &__content {
                &__main {
                    padding: 0;
                }
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .header {
        display: none;
    }
}